<template>
  <div id="app">
    <h1>Vue IOT</h1>
    <b-container>
      <b-row>
        <b-col>
          <b-button class="mx-4 px-4" variant="success" @click="sendMqtt('ON')">ON</b-button>
          <b-button class="mx-4 px-4" variant="danger" @click="sendMqtt('OFF')">OFF</b-button>
        </b-col>
      </b-row>
      <b-row class="mt-5">
        <b-col>
          <b-table striped hover :items="items" :fields="fields"></b-table>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "App",
  data() {
    return {
      fields: ["date", "temp", "humid"],
      items: []
    };
  },
  methods: {
    fetchData() {
      axios.post("http://localhost:3026/API/select").then(response => {
        if (response.data.success == "success") {
          this.items = response.data.data;
        } else {
          alert(response.data.message_th);
        }
      });
    },
    sendMqtt(data) {
      this.$mqtt.publish("mqtt/test", String(data));
      // this.$mqtt.publish("VueMqtt/test", val);
    }
  },
  beforeMount() {
    this.fetchData();

    setInterval(() => {
      this.fetchData();
    }, 5000);
  },
  mqtt: {
    "mqtt/test"(data) {
      console.log(data);
    }
  }
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
